<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" routerLink="/home" routerLinkActive="active">Exercise App</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/profile" routerLinkActive="active">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/log" routerLinkActive="active">Log</a>
                    </li>
                </ul>
            </div>
    </div>
    <form class="form-inline">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="Username">
            <input type="text" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="Password">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary disabled" type="button">Login</button>
            </div>
        </div>
    </form>
</nav>
