<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="{{Me.Pic}}">
          <div class="card-body">
            <h5 class="card-title">{{Me.Name}}</h5>
            <p class="card-text">{{Me.Bio}}</p>
          </div>
      </div>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-8">
      <p>Share your profile with friends at this url: <a href="http://localhost:4200/user/{{Me.Name}}">http://localhost:4200/user/{{Me.Name}}</a></p>
      <div class="table-responsive">          
        <table class="table table-dark">
          <thead>
            <tr>
              <th>Date</th>
              <th>Exercise</th>
              <th>Time Spent</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let log of Logs">
              <td>{{log.Date}}</td>
              <td>{{log.ExerciseType}}</td>
              <td>{{log.TimeExercised}} Minutes</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>